force-app/main/default/flows/Auto_Convert_Recruitment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Proposed_Opp_Name</name>
        <label>Set Proposed Opp Name</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ProposedInquiryOppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.LastName}|{!$Record.Intended_Start_Term__r.Name}|{!$Record.Recruitment_Program__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Interaction_Matching_Contact</targetReference>
        </connector>
    </assignments>
    <description>Intended to convert Leads created by the www.stthomas.edu RFI and Landing Pages</description>
    <environments>Default</environments>
    <formulas>
        <name>ClosedDateTermStartDate</name>
        <dataType>Date</dataType>
        <expression>IF({!$Record.Intended_Start_Term__r.Term_Start_Date__c} &lt;&gt; null, {!$Record.Intended_Start_Term__r.Term_Start_Date__c}, TODAY()+180)</expression>
    </formulas>
    <interviewLabel>Auto Convert - Recruitment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Convert to Interaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Interaction_Matching_Contact</name>
        <label>Create Interaction (Matching Contact)</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Academic_Program__c</field>
            <value>
                <elementReference>$Record.Recruitment_Program__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Admit_Type__c</field>
            <value>
                <elementReference>$Record.Admit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate__c</field>
            <value>
                <elementReference>$Record.Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Citizenship__c</field>
            <value>
                <elementReference>$Record.Citizenship_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>College_of_Interest__c</field>
            <value>
                <elementReference>$Record.College_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Title__c</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inquiry__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Degree_Level__c</field>
            <value>
                <elementReference>$Record.Degree_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer__c</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Question__c</field>
            <value>
                <elementReference>$Record.Has_Question__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_Graduation_Year__c</field>
            <value>
                <elementReference>$Record.Expected_Graduate_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_or_College__c</field>
            <value>
                <elementReference>$Record.High_School_or_College__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intended_Start_Term__c</field>
            <value>
                <elementReference>$Record.Intended_Start_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interaction_Source__c</field>
            <value>
                <stringValue>Webform</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Website_Referrer__c</field>
            <value>
                <elementReference>$Record.Lead_Website_Referrer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Website__c</field>
            <value>
                <elementReference>$Record.Lead_Website__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailed_Program_Information_Requested__c</field>
            <value>
                <elementReference>$Record.Mail_Information_Requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_City__c</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Country__c</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Postal_Code__c</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_State__c</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Street__c</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Major_Program_1__c</field>
            <value>
                <elementReference>$Record.Major_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Major_Program_2__c</field>
            <value>
                <elementReference>$Record.Major_Program_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Major_Program_3__c</field>
            <value>
                <elementReference>$Record.Major_Program_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Major_Program_4__c</field>
            <value>
                <elementReference>$Record.Major_Program_4__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Record_Type__c</field>
            <value>
                <elementReference>Get_Inquiry_Opportunity_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <stringValue>Inquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receive_Texts__c</field>
            <value>
                <elementReference>$Record.Receive_Texts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruitment_Interest__c</field>
            <value>
                <elementReference>Recruitment_Program_Plan_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruitment_Program_Associated_Schools__c</field>
            <value>
                <elementReference>$Record.Recruitment_Program__r.Associated_Schools__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruitment_Program__c</field>
            <value>
                <elementReference>$Record.Recruitment_Program__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scholarship_of_Interest__c</field>
            <value>
                <elementReference>$Record.Scholarship_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>St_Thomas_College_School__c</field>
            <value>
                <elementReference>$Record.St_Thomas_College_School__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>GetTerm.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gclid__c</field>
            <value>
                <elementReference>$Record.gclid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_campaign__c</field>
            <value>
                <elementReference>$Record.utm_campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_content__c</field>
            <value>
                <elementReference>$Record.utm_content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_creative_format__c</field>
            <value>
                <elementReference>$Record.utm_creative_format__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_id__c</field>
            <value>
                <elementReference>$Record.utm_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_marketing_topic__c</field>
            <value>
                <elementReference>$Record.utm_marketing_topic__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_medium__c</field>
            <value>
                <elementReference>$Record.utm_medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_source__c</field>
            <value>
                <elementReference>$Record.utm_source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_source_platform__c</field>
            <value>
                <elementReference>$Record.utm_source_platform__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_term__c</field>
            <value>
                <elementReference>$Record.utm_term__c</elementReference>
            </value>
        </inputAssignments>
        <object>Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Applicant_Opportunity_Record_Type_ID</name>
        <label>Get Applicant Opportunity Record Type ID</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recruitment_Program_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inquiry_Opportunity_Record_Type_ID</name>
        <label>Get Inquiry Opportunity Record Type ID</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Applicant_Opportunity_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruitment_Program_Plan</name>
        <label>Get Recruitment Program Plan</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTerm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Recruitment_Program__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Plan__c</object>
        <outputAssignments>
            <assignToReference>Recruitment_Program_Plan_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetTerm</name>
        <label>GetTerm</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Proposed_Opp_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intended_Start_Term__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_Key__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>a</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Converted_Lead__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inquiry_Opportunity_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>(1 OR 2 or 3 or 4 or 5 or 6 or 7) AND 8</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Landing Page</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Undergraduate RFI Page</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Two-Year RFI</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Graduate RFI Page</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GHR Fellows RFI</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GHR Fellows and Schulze Scholarship Programs</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Undergraduate Schulze</stringValue>
            </value>
        </filters>
        <filters>
            <field>Converted_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProposedInquiryOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Recruitment_Program_Plan_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
