force-app/main/default/flows/JIT_Permission_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>JIT_Permissioning</name>
        <label>JIT Permissioning</label>
        <locationX>355</locationX>
        <locationY>660</locationY>
        <actionName>JustInTimePermissionSets</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>permissionSetNames</name>
            <value>
                <elementReference>requestedPermissionSets</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>User_Logging_In.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>User is an applicant so apply the Application Community permissions set</description>
        <name>Apply_Applicant_Permissions</name>
        <label>Apply Applicant Permissions</label>
        <locationX>120</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>requestedPermissionSets</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Application Community</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestedPermissionSets</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Creator_Permission_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_Survey_Creator_Permission</name>
        <label>Apply Survey Creator Permission</label>
        <locationX>550</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>requestedPermissionSets</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SurveyCreator</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestedPermissionSets</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>JIT_Permissioning</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Applicant_Permission_Set</name>
        <label>Applicant Permission Set</label>
        <locationX>113</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>Survey_Creator_Permission_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Logging_In.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Apply_Applicant_Permissions</targetReference>
            </connector>
            <label>Is Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_Creator_Permission_Set</name>
        <label>Survey Creator Permission Set</label>
        <locationX>346</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>JIT_Permissioning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Survey_Creator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Logging_In.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Apply_Survey_Creator_Permission</targetReference>
            </connector>
            <label>Is Survey Creator</label>
        </rules>
    </decisions>
    <interviewLabel>JIT Permission Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JIT Permission Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>User_Logging_In</name>
        <label>User Logging In</label>
        <locationX>356</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicant_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>230</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>User_Logging_In</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The list of permission sets requested by name of the permission set</description>
        <name>requestedPermissionSets</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
