force-app/main/default/flows/Locate_Your_Counselor_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Country_SOQL</name>
        <label>Execute Country SOQL</label>
        <locationX>2690</locationX>
        <locationY>974</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Extract_ID_from_Country_SOQL</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Admissions_Region__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>IntlSoql</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_Last_Name_SOQL</name>
        <label>Execute Last Name SOQL</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Extract_ID_from_LN</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Admission_Territory__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>LastNameSartsWithSOQL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_State_SOQL</name>
        <label>Execute State SOQL</label>
        <locationX>7266</locationX>
        <locationY>638</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ExtractIdfromStateSOQL</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Admission_Territory__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>State_SOQL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Extract_ID_from_Country_SOQL</name>
        <label>Extract ID from Country SOQL</label>
        <locationX>2690</locationX>
        <locationY>1094</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Intl_Region</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Admissions_Region__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Execute_Country_SOQL.sObjects</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Extract_ID_from_LN</name>
        <label>Extract ID from LN</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_LN_Territories</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Admission_Territory__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Execute_Last_Name_SOQL.sObjects</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ExtractIdfromStateSOQL</name>
        <label>ExtractIdfromStateSOQL</label>
        <locationX>7266</locationX>
        <locationY>758</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FTFY_State_Admission_Territory</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Admission_Territory__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Execute_State_SOQL.sObjects</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Intl_Country</name>
        <label>Assign Intl Country</label>
        <locationX>2822</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Intl_Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blank_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intl_Country_Mailing_Country</name>
        <label>Assign Intl Country - Mailing Country</label>
        <locationX>2294</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Intl_Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blank_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_4yr_Fallback</name>
        <label>Assign Opportunity Owner - 4yr Fallback</label>
        <locationX>5858</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X4yr_Fallback.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_4yr_Fallback_Default</name>
        <label>Assign Opportunity Owner - 4yr Fallback Default</label>
        <locationX>7662</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X4yr_Fallback_Default_Outcome.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_DFC</name>
        <label>Assign Opportunity Owner - DFC</label>
        <locationX>4230</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_DFC_Admission_Territory.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_DFC_Fallback</name>
        <label>Assign Opportunity Owner - DFC Fallback</label>
        <locationX>4978</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DFC_Fallback.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_FTFY</name>
        <label>Assign Opportunity Owner - FTFY</label>
        <locationX>5022</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FTFY_Admission_Territory.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_FTFY_State</name>
        <label>Assign Opportunity Owner - FTFY State</label>
        <locationX>7398</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FTFY_State_Admission_Territory.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_HS_Transfer</name>
        <label>Assign Opportunity Owner - HS Transfer</label>
        <locationX>4494</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transfer_Admission_Territory.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_Inquiry_Opp</name>
        <label>Assign Opportunity Owner - Inquiry Opp</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Admission_Territory_Inquiry_Opp.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_Intl_Fallback</name>
        <label>Assign Opportunity Owner - Intl Fallback</label>
        <locationX>2690</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intl_Fallback.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_Intl_Transfer</name>
        <label>Assign Opportunity Owner - Intl Transfer</label>
        <locationX>2030</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intl_Transfer_Territory.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_Local</name>
        <label>Assign Opportunity Owner - Local</label>
        <locationX>6078</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Local_Admission_Territory.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_No_Region_Default_Outcome</name>
        <label>Assign Opportunity Owner - No Region Default Outcome</label>
        <locationX>2778</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intl_Admission_Territory_Get.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_School_Based_Fallback</name>
        <label>Assign Opportunity Owner - School Based Fallback</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>School_Based_Admissions_Territory_Fallback.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_School_Logic_Default</name>
        <label>Assign Opportunity Owner - School Logic Default</label>
        <locationX>1502</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>School_Based_Admissions_Territory.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_SOE</name>
        <label>Assign Opportunity Owner - SOE</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOE_Admissions_Territory.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_Split_By_Alphabet</name>
        <label>Assign Opportunity Owner - Split By Alphabet</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LN_Territories.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_Split_By_Alphabet_Default</name>
        <label>Assign Opportunity Owner - Split By Alphabet Default</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Admission_Territory.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_Transfer_Fallback</name>
        <label>Assign Opportunity Owner Transfer Fallback</label>
        <locationX>5462</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transfer_Fallback.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner_U15</name>
        <label>Assign Opportunity Owner - U15</label>
        <locationX>6606</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>U15_Admission_Territory.Assigned_User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Intl_Error</name>
        <label>Intl Error</label>
        <locationX>2426</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0054P00000EbLK7QAN</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ProgramCode</name>
        <label>ProgramCode</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>OppProgramCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Academic_Program_Integration_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Last_Name_SOQL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is this prospect expressing interest in 2 year, 4 year, or Transfer?</description>
        <name>Applicant_Type</name>
        <label>Applicant Type</label>
        <locationX>4516</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>FTFY_Admission_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>College_of_Interest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Year College</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DFC_Admission_Territory</targetReference>
            </connector>
            <label>DFC</label>
        </rules>
        <rules>
            <name>Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Admit_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_Admission_Territory</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Blank_Country</name>
        <label>Blank Country</label>
        <locationX>2558</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Execute_Country_SOQL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intl_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intl_Fallback</targetReference>
            </connector>
            <label>Country is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Outcome_Admission_Territory_Is_Blank</name>
        <label>Default Outcome Admission Territory Is Blank</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Owner_Split_By_Alphabet_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admissions_Territory_Null_Default_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Admission_Territory.Assigned_User__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>School_Based_Admissions_Territory_Fallback</targetReference>
            </connector>
            <label>Admissions Territory Null Default Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>DFC_Owner_Null</name>
        <label>DFC Owner Null</label>
        <locationX>4142</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Owner_DFC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DFC_Owner_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DFC_Admission_Territory.Assigned_User__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DFC_Fallback</targetReference>
            </connector>
            <label>DFC Owner is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fallback_if_Region_not_match</name>
        <label>Fallback if Region not match</label>
        <locationX>2690</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Owner_No_Region_Default_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admission_Territory_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intl_Admission_Territory_Get.Assigned_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intl_Fallback</targetReference>
            </connector>
            <label>Admission Territory Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>FTFY_Admission_Territory_Null</name>
        <label>FTFY Admission Territory Null</label>
        <locationX>4890</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Owner_FTFY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FTFY_Admission_Territory_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FTFY_Admission_Territory.Assigned_User__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>X4yr_Fallback_Default_Outcome</targetReference>
            </connector>
            <label>FTFY Admission Territory Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>FTFY_State_Admission_Territory_Null</name>
        <label>FTFY State Admission Territory Null</label>
        <locationX>7266</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Owner_FTFY_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FTFY_State_Admission_Territory_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FTFY_State_Admission_Territory.Assigned_User__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>X4yr_Fallback_Default_Outcome</targetReference>
            </connector>
            <label>FTFY State Admission Territory Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grad_vs_UG</name>
        <label>Grad vs UG</label>
        <locationX>2976</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Who_is_the_app_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Grad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>College_of_Interest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>School_Logic</targetReference>
            </connector>
            <label>Grad</label>
        </rules>
        <rules>
            <name>Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>College_of_Interest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Unknown</label>
        </rules>
    </decisions>
    <decisions>
        <description>The high school has no territory associated</description>
        <name>HS_has_no_territory</name>
        <label>HS has no territory</label>
        <locationX>3977</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Applicant_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Territory</name>
            <conditionLogic>(1 AND 6) OR (2 AND 4) OR (3 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_HS_Record.Admission_Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HS_Record.DFC_Admission_Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HS_Record.Transfer_Admission_Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>College_of_Interest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Year College</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>College_of_Interest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>College_of_Interest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 Year College</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Where_to_go</targetReference>
            </connector>
            <label>No Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inquiry_Opp_Addmission_Territory_Is_Blank</name>
        <label>Inquiry Opp Addmission Territory Is Blank</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Owner_Inquiry_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inquiry_Opp_Territory_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Admission_Territory_Inquiry_Opp.Assigned_User__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>School_Based_Admissions_Territory_Fallback</targetReference>
            </connector>
            <label>Inquiry Opp Territory Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intl_Fallback_Returns_Null</name>
        <label>Intl Fallback Returns Null</label>
        <locationX>2558</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Owner_Intl_Fallback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intl_Fallback_Returned_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intl_Fallback.Assigned_User__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intl_Error</targetReference>
            </connector>
            <label>Intl Fallback Returned Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Local_Admission_Territory_Null</name>
        <label>Local Admission Territory Null</label>
        <locationX>5990</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Owner_Local</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Local_Admission_Territory_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Local_Admission_Territory.Assigned_User__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4yr_Fallback</targetReference>
            </connector>
            <label>Local Admission Territory Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Non_US</name>
        <label>Non US</label>
        <locationX>6771</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>State_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Domestic_Non_US</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U15_Admission_Territory</targetReference>
            </connector>
            <label>Domestic Non US</label>
        </rules>
    </decisions>
    <decisions>
        <name>OCB_Alpha_Split_Programs</name>
        <label>OCB Alpha Split Programs</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Admission_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_Inquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Academic_Program_Associated_School</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opus College of Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Admission_Territory_Inquiry_Opp</targetReference>
            </connector>
            <label>Opportunity is Inquiry</label>
        </rules>
        <rules>
            <name>Program_that_is_split_by_Alphabet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Academic_Program_Integration_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BU_OL_MBA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Academic_Program_Integration_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BU_PT_MBA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProgramCode</targetReference>
            </connector>
            <label>Program that is split by Alphabet</label>
        </rules>
    </decisions>
    <decisions>
        <name>School_Logic</name>
        <label>School Logic</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>School_Based_Admissions_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCB_or_CAS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Academic_Program_Associated_School</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>College of Arts and Sciences</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Academic_Program_Associated_School</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opus College of Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OCB_Alpha_Split_Programs</targetReference>
            </connector>
            <label>OCB or CAS</label>
        </rules>
        <rules>
            <name>School_of_Engineering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Academic_Program_Associated_School</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>School of Engineering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOE_Admissions_Territory</targetReference>
            </connector>
            <label>School of Engineering</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_is_Null</name>
        <label>State is Null</label>
        <locationX>7068</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Execute_State_SOQL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NullState</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>X4yr_Fallback_Default_Outcome</targetReference>
            </connector>
            <label>NullState</label>
        </rules>
    </decisions>
    <decisions>
        <name>TransferIntl</name>
        <label>Transfer</label>
        <locationX>2294</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Use_Any_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intl_Transfer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Admit_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Academic_Program_Applicant_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intl_Transfer_Territory</targetReference>
            </connector>
            <label>Intl Transfer</label>
        </rules>
    </decisions>
    <decisions>
        <name>U15_Admission_Territory_Blank</name>
        <label>U15 Admission Territory Blank</label>
        <locationX>6474</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Owner_U15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>U15_Admission_Territory_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>U15_Admission_Territory.Assigned_User__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>X4yr_Fallback_Default_Outcome</targetReference>
            </connector>
            <label>U15 Admission Territory Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the system is unable to match the zip code assign to fallback and send an email</description>
        <name>Unable_to_match_region</name>
        <label>Unable to match region</label>
        <locationX>5858</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Local_Admission_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Region_ID_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Region_Zip.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4yr_Fallback</targetReference>
            </connector>
            <label>Region ID is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Any_Country</name>
        <label>Use Any Country</label>
        <locationX>2558</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Intl_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>country_is_blank_mailing_country_is_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Mailing_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Intl_Country_Mailing_Country</targetReference>
            </connector>
            <label>country is blank mailing country is not</label>
        </rules>
        <rules>
            <name>No_country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Mailing_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Intl_Fallback</targetReference>
            </connector>
            <label>No country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_to_go</name>
        <label>Where to go</label>
        <locationX>3438</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Region_Zip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DFCnewSchool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>College_of_Interest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Year College</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DFC_Fallback</targetReference>
            </connector>
            <label>DFC</label>
        </rules>
        <rules>
            <name>TransfernewSchool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Admit_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Transfer_Fallback</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
        <rules>
            <name>nonLocal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WI</stringValue>
                </rightValue>
            </conditions>
            <label>nonLocal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_the_app_owner</name>
        <label>Who is the app owner</label>
        <locationX>4978</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>X4yr_Fallback_Default_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Citizenship_is_International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Citizenship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TransferIntl</targetReference>
            </connector>
            <label>Citizenship is International</label>
        </rules>
        <rules>
            <name>High_School_is_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HS_or_College</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HS_or_College</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HS_Record</targetReference>
            </connector>
            <label>High School is not blank</label>
        </rules>
        <rules>
            <name>DFCnoSchool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>College_of_Interest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Year College</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DFC_Fallback</targetReference>
            </connector>
            <label>DFC</label>
        </rules>
        <rules>
            <name>TransfernoSchool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Admit_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_Fallback</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
        <rules>
            <name>Local</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>College_of_Interest</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2 Year College</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Region_Zip</targetReference>
            </connector>
            <label>Local</label>
        </rules>
        <rules>
            <name>Non_Local_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Citizenship</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>College_of_Interest</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2 Year College</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_US</targetReference>
            </connector>
            <label>Non Local US</label>
        </rules>
    </decisions>
    <description>Update state SOQL</description>
    <environments>Default</environments>
    <formulas>
        <name>LastNameFirstLetter</name>
        <dataType>String</dataType>
        <expression>LEFT ({!LastName}, 1)</expression>
    </formulas>
    <interviewLabel>Locate Your Counselor Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Locate Your Counselor Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DFC_Fallback</name>
        <label>DFC Fallback</label>
        <locationX>4978</locationX>
        <locationY>2774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner_DFC_Fallback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>D05</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FTFY_Admission_Territory</name>
        <label>FTFY Admission Territory</label>
        <locationX>4890</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FTFY_Admission_Territory_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HS_Record.Admission_Territory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FTFY_State_Admission_Territory</name>
        <label>FTFY State Admission Territory</label>
        <locationX>7266</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FTFY_State_Admission_Territory_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExtractIdfromStateSOQL.fieldValueString</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Admission_Territory</name>
        <label>Get Admission Territory</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_Outcome_Admission_Territory_Is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Academic_Program_Code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Admission_Territory_Inquiry_Opp</name>
        <label>Get Admission Territory - Inquiry Opp</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inquiry_Opp_Addmission_Territory_Is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Academic_Program_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubTerritory__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DFC_Admission_Territory</name>
        <label>Get DFC Admission Territory</label>
        <locationX>4142</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DFC_Owner_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HS_Record.DFC_Admission_Territory__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HS_Record</name>
        <label>Get HS Record</label>
        <locationX>3977</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HS_has_no_territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HS_or_College</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Admission_Territory__c</queriedFields>
        <queriedFields>DFC_Admission_Territory__c</queriedFields>
        <queriedFields>Transfer_Admission_Territory__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LN_Territories</name>
        <label>Get LN Territories</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner_Split_By_Alphabet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Extract_ID_from_LN.fieldValueString</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Region_Zip</name>
        <label>Get Region</label>
        <locationX>5858</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unable_to_match_region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admissions_Region__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Admission_Territory__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Intl_Admission_Territory_Get</name>
        <label>Intl_Admission_Territory_Get</label>
        <locationX>2690</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fallback_if_Region_not_match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Intl_Region.Admission_Territory__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Intl_Fallback</name>
        <label>Intl Fallback</label>
        <locationX>2558</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intl_Fallback_Returns_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>U45</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Intl_Region</name>
        <label>Intl Region</label>
        <locationX>2690</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intl_Admission_Territory_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Extract_ID_from_Country_SOQL.fieldValueString</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admissions_Region__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Admission_Territory__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Intl_Transfer_Territory</name>
        <label>Intl Transfer Territory</label>
        <locationX>2030</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner_Intl_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>U45</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Local_Admission_Territory</name>
        <label>Local Admission Territory</label>
        <locationX>5990</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Local_Admission_Territory_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Region_Zip.Admission_Territory__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>School_Based_Admissions_Territory</name>
        <label>School Based Admissions Territory</label>
        <locationX>1502</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner_School_Logic_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>School_or_College__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Academic_Program_Associated_School</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>School_Based_Admissions_Territory_Fallback</name>
        <label>School Based Admissions Territory Fallback</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner_School_Based_Fallback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>School_or_College__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Academic_Program_Associated_School</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fallback_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SOE_Admissions_Territory</name>
        <label>SOE Admissions Territory</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner_SOE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Code__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Opp_College_Code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Transfer_Admission_Territory</name>
        <label>Transfer Admission Territory</label>
        <locationX>4494</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner_HS_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HS_Record.Transfer_Admission_Territory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Transfer_Fallback</name>
        <label>Transfer Fallback</label>
        <locationX>5462</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner_Transfer_Fallback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>U42</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>U15_Admission_Territory</name>
        <label>U15 Admission Territory</label>
        <locationX>6474</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>U15_Admission_Territory_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>U15</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X4yr_Fallback</name>
        <label>4yr Fallback</label>
        <locationX>5858</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner_4yr_Fallback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>U41</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X4yr_Fallback_Default_Outcome</name>
        <label>4yr Fallback - Default Outcome</label>
        <locationX>7662</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner_4yr_Fallback_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>U41</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admission_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2850</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Grad_vs_UG</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>IntlSoql</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Id FROM Admissions_Region__c WHERE Associated_Countries__c INCLUDES (&apos;{!Intl_Country}&apos;)</text>
    </textTemplates>
    <textTemplates>
        <name>LastNameSartsWithSOQL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Id FROM Admission_Territory__c WHERE Last_Name_Split__c INCLUDES (&apos;{!LastNameFirstLetter}&apos;) AND Program_Code__c LIKE &apos;{!OppProgramCode}&apos;</text>
    </textTemplates>
    <textTemplates>
        <name>State_SOQL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Id FROM Admission_Territory__c WHERE Associated_States__c INCLUDES (&apos;{!State}&apos;)</text>
    </textTemplates>
    <variables>
        <name>Academic_Program_Applicant_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Academic_Program_Associated_School</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Academic_Program_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Academic_Program_Integration_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Admit_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignedOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Citizenship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>College_of_Interest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Will store the Id of the counselor that will be assigned to the user of counselor-locator on UST site.</description>
        <name>Counselor_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HS_or_College</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intl_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mailing_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opp_College_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppProgramCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Zip_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
