force-app/main/default/flows/Locate_Your_Counselor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Locate Your Counselor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Locate Your Counselor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_Opportunity_Owner</name>
        <label>Assign Opportunity Owner</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Locate_Your_Counselor_Subflow.Opportunity_Owner_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Locate_Your_Counselor_Subflow</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inquiry Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>College_of_Interest__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Locate_Your_Counselor_Subflow</name>
        <label>Locate Your Counselor Subflow</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Owner</targetReference>
        </connector>
        <flowName>Locate_Your_Counselor_Subflow</flowName>
        <inputAssignments>
            <name>Academic_Program_Applicant_Type</name>
            <value>
                <elementReference>$Record.Academic_Program__r.Applicant_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Academic_Program_Associated_School</name>
            <value>
                <elementReference>$Record.Academic_Program__r.Associated_Schools__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Academic_Program_Code</name>
            <value>
                <elementReference>$Record.Academic_Program__r.Program_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Academic_Program_Integration_Code</name>
            <value>
                <elementReference>$Record.Academic_Program__r.Integration_Program_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Admit_Type</name>
            <value>
                <elementReference>$Record.Admit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Citizenship</name>
            <value>
                <elementReference>$Record.Citizenship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>College_of_Interest</name>
            <value>
                <elementReference>$Record.College_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Country</name>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HS_or_College</name>
            <value>
                <elementReference>$Record.High_School_or_College__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LastName</name>
            <value>
                <elementReference>$Record.Contact__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Mailing_Country</name>
            <value>
                <elementReference>$Record.Contact__r.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_College_Code</name>
            <value>
                <elementReference>$Record.College_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppProgramCode</name>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>State</name>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Zip_Code</name>
            <value>
                <elementReference>$Record.Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
